.nav{
  display:flex;
    background-color: black;
    /* opacity: .8; */
    padding: 10px;
    position:sticky;
    top: 0;
    flex-wrap: nowrap;
}
.nav a{
    font-size: 15px;
    color: var(--clr-grey-5);
    text-decoration: none;
    width: 100%;
    display: inline-block;
}
.nav ul{
    display: inline-block;
    position: absolute;
    right: 10px;
    margin: 0;
}
.nav li{
    display: inline-block;
    width: 100px;
}

.nav i {
    transition: all 0.6s;
}
.nav i:hover{
  color: #c59d5f;
  font-size: 20px;
}
.sub-category{
  display: none;
}
.nav ul li:hover .sub-category {
  display: block;
  position: absolute;
  /* margin-top: 10px; */
  margin-left: 135px;
}
.nav ul li:hover .sub-category ul {
  display: block;
  padding-top: 15px;  
  background-color: black;
  color: var(--clr-grey-5);
}
.nav ul li:hover .sub-category ul li {
  width: 145px; 
  padding: 10px;
} 
.nav ul li:hover .sub-category ul li button {
  background-color: black;
  width: auto;
  color: var(--clr-grey-5);
  cursor: pointer;
  font-family: var(--clr-primary-10);
  font-size: 1rem;
}

/* =============== 
Fonts
=============== */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
/* section */
.section {
  padding: 5rem 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
#cart {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.productsmenue {
  display: grid;
  padding:20px;
  gap: 1rem 2rem;
  max-width: 25rem;
  cursor: pointer;
}
.photo {
  object-fit:fill;
  height: 200px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
}
.productinfo header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.productinfo h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.discription {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .productsmenue{
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .card-content {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 180px;
  }
}

.gotop {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transition: all 0.6s;
  scroll-behavior: smooth;
}
.gotop a {
  color: var(--clr-grey-5);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.gotop:hover{
 
  background-color:#c59d5f;
}



.button{
  color: #c59d5f ;
  border: 1px solid #c59d5f;
  border-radius: 5px;
  padding: 9px;
  font-size: larger;
  display: grid;
}
.button:hover{
  background-color: #c59d5f;
  color: black;
  cursor: pointer;
  
}
#cart{
  font-size: larger;
}
#loginform fieldset,#sign-up-form fieldset{
  width: 400px;
  margin: auto;
  padding: 25px;
}
#loginform div,#sign-up-form div{
  padding: 7px;
}
#loginform legend,#sign-up-form legend{
  font-size: larger;
  color: #c59d5f;
}
#loginform label,#sign-up-form label {
  color:#c59d5f;
  font-size: larger;
 
}
.wish{
  text-align: center;
} 
.wish a{
  text-align: center;
  color: #c59d5f;
  font-size: larger;
} 
#loginform button, #loginform a,#sign-up-form button{
  color:#c59d5f;
  padding: 10px;
  font-size: large;
  width: 300px;
}


.footer{
  background-color:black ;
  opacity: .8;
}
.caption-static{
  margin: 5px auto;
  color: #49a6e9;
}
.copywright{
  text-align: center;
}
.contact{

  margin: 20px 80px 0px 0px;
  float: right;

}
.about{
  padding: 20px;
  width: 600px;
  display: inline-block;
}
.footer a{
  width: 50px;
  text-decoration: none;
  font-size: 20px;
  color:hsl(210, 22%, 49%) ;
}
.footer a:hover{
  text-decoration: none;
  font-size: 20px;
  color:#c59d5f ;
}
.call
{
  margin-left: 20px;
}
.footer hr{
  color: #cf9236;
  opacity: .9;
}
#create{
  color:#c59d5f;
  padding: 10px;
  font-size: large;
  width: 300px;
}
 .logIn{
  color:#c59d5f;
  padding: 10px;
  font-size: large;
  width: 300px;
 }
 #search{
  font-family: var(--ff-primary);
  
  position:absolute;
  left: 120px;
  opacity: .7;
  border-radius: 0 5px;
  width: 400px;
  padding: 7px;
  border: none;
  font-size: 16px;
 }
 
 
 #icon{
  
  position: absolute;
  left: 450px;
  background-color:rgba(255, 255, 255, 0);
  color: var(--clr-grey-5);
  padding: 7px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: none;
  font-size: large;
 }
 #icon:hover{
  color:#c59d5f;
  font-size: large;
 }

